body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color: rgb(63, 62, 62);
}

section {
    width: 100%;
}

.jadu {
    height: 500px;
    padding-bottom: 150px;
    display: flex;    
}

div {
    margin-right: 5%;
    width: 100%;
    padding: 50px;

}

.top-banner1 {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.top-banner2 {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

}
.half-width {
    width: 40%;
    margin-left:5%;
}
.half-width img {
    width: 100%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1 {
    font-size: 50px;
}

.move {
    margin-left: 50px;
}

.Orenge-color {
    color: orange;
}
.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 69, 69), rgb(255, 169, 71));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner3 {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
}

#boxone {
    box-shadow: 5px 7px 40px grey ;
    padding-left: 40px;
    width: 100%;
}

.box-design1 {
    border-left: 7px solid ;
    border-image: linear-gradient( rgb(255, 69, 69), rgb(255, 169, 71));
    border-image-slice: 1;
}

.box-design2 {
    border-left: 7px solid ;
    border-image: linear-gradient( rgb(0, 110, 255), rgb(0, 3, 209));
    border-image-slice: 1;
}


footer p {
    text-align: center;
    padding: 20px;
}
